@import '~antd/dist/antd.dark.css';

ul li a {
    color: #0fe;
}

.info {
    color: #0fe;
}

.info::before {
    content: 'Note: ';
}

.interactive {
    color: #f66;
}

.interactive:before {
    content: 'Note: ';
}

body {
    background-color: #464646 !important;
    color: #fff;
}

table {
    margin: 0 auto;
}

table,
td,
th {
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

tr td:nth-child(4) {
    color: #00da00;
}
tr td:nth-child(5) {
    color: #f66;
}

h1,
h2,
h3,
h4,
h5 {
    color: #fff !important;
    margin: 1.25rem 0 !important;
}

.App {
    text-align: center;
    width: 80vw;
    margin: 1rem auto;
}

#root {
    height: 100%;
    overflow-y: auto;
}

.tooltip {
    background-color: #353535 !important;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.25rem;
}

/* ===== NAV STYLES =====*/
.nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav ul li {
    list-style-type: none;
    margin: 0 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    transition: 0.5s color;
}

.nav ul li a:hover {
    color: #0fe;
}

.activeNav {
    color: #0fe;
    padding-bottom: 3px;
    border-bottom: 1px solid #0fe;
}

/* ===== ANIMATION ===== */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ===== OVERRIDE ===== */

.anticon {
    vertical-align: middle;
}

.ant-popover-title {
    color: #fff !important;
}

.ant-popover {
    border: 1px solid #fff;
}
